body {
    /*border: 5px solid whitesmoke;*/
    background: url('../images/brick.jpg') no-repeat center center fixed;
}

#realBody {
   
}

#panelHeader {
    padding-bottom: 50px;
    background-color: black;
}

#panelMain {
     
    
}

#header {
    background-color: #00FFFF;
    width: 300px;
    height: 74px;
    padding:0;
    margin:0;
    float: left;
    position: absolute;
    left: 118px;
    cursor: pointer;
}

#headerName {
    position: absolute;
    top: 0px;
    left: 25px;
    color: black;
}

#navigation {
    color: whitesmoke;
    padding:0;
    margin:0;
}

.linkMenu {
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    position: relative;
    left: 800px;
    top: 25px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.linkMenu:hover { 
    background-color: #00FFFF;
    text-decoration: none;
}

/*#homeLink {
    background-color: black;
    position: absolute;
    top: 20px;
    left: 200px;
    
}

#aboutLink {
    background-color: black;
    position: absolute;
    top: 20px;
    left: 250px;
}

#portfolioLink {
    background-color: black;
    position: absolute;
    top: 20px;
    left: 300px;
}

#contactLink {
    background-color: black;
    position: absolute;
    top: 20px;
    left: 350px;
}*/

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: black;
    text-align: center;
    color: whitesmoke;
}

#poweredList {
    float: right;
    right: 50%;
    margin: 0;
    
}

#introduction {
    position: absolute;
    top: 375px;
    left: 450px;
    padding:8px;
    margin:0;
    float: left;
    font-size: 22px;
    color: whitesmoke;
    background-color: black;
    opacity: .9;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
}

#connectAside {
    position: absolute;
    top: 375px;
    left: 1000px;
    padding:8px;
    margin:0;
    float: left;
    border-style: solid;
    border-width: thick;
    border-color: #00FFFF;
    border-radius: 25px;
    width: 500px;
    height: 250px;
    background-color: #00FFFF;
    box-shadow: 10px 10px 5px #888888;
}

.connectIcons {
    width: 100px;
    height: 100px;
}

.connectIcons:hover {
    
}

.homeP {
    text-align: center;
}

#gitIcon {
    position: absolute;
    top: 95px;
    left: 50px;
    cursor: pointer; 
}

#linkedIcon {
    position: absolute;
    top: 95px;
    left: 190px;
    cursor: pointer;
}

#stackIcon {
    position: absolute;
    top: 95px;
    left: 330px;
    cursor: pointer;
}